/* XL devices (default) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

.title-text {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.nav-links-container {
  display: flex;
}

.hamburger-menu {
  display: none;
}

.mobile-navbar {
  display: none;
}

.nav-links {
  color: black;
  text-decoration: none;
  margin: 0 25px;
}

.nav-link {
  cursor: pointer;
}

.home-content {
  padding: 120px 100px 0 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-text {
  margin-top: 50px;
}

.home-text-title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 65px;
  line-height: 85px;
}

.home-title-coma {
  color: #d5d5d5;
}

.my-name {
  color: #5b38e2;
}

.home-text-description {
  font-size: 20px;
  margin-top: 25px;
  color: #575757;
  line-height: 28px;
}

.home-links {
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.home-get-in-touch {
  background-color: #5b38e2;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.home-github {
  background-color: #1f1f1f;
  color: white;
  text-decoration: none;
  padding: 20px;
  margin-left: 10px;
}

.my-photo {
  border-radius: 50%;
}

.about-me-section {
  width: 100%;
  background-color: #202020;
  margin-top: 30px;
}

.about-me-title {
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 30px;
}

.about-me-text {
  color: white;
  text-align: center;
  padding: 30px 300px;
  max-width: 1600px;
  margin: 0 auto;
}

.showcase-section {
  width: 100%;
  margin: 0 auto;
}

.showcase-title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project-container {
  max-width: 1000px;
  margin: 0 auto;
}

.project-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Darker Grotesque", sans-serif;
}

.project-content-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.project-content-container-invert {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
  flex-direction: row-reverse;
}

.project-img {
  width: 100%;
  border-radius: 2%;
  border: #919191 solid 1px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-technology {
  color: white;
  background-color: #575757;
  border: #1f1f1f 1px solid;
  margin: 3px;
}

.project-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #575757;
  line-height: 28px;
}

.project-links {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.website-link {
  color: white;
  background-color: #202020;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

.github-link {
  color: white;
  background-color: #202020;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  .my-photo {
    display: none;
  }
  .about-me-text {
    padding: 30px 150px;
  }
  .project-description-container {
    margin: 0;
  }
  .project-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .project-content-container-invert {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
}
/* Medium devices */
@media only screen and (max-width: 991.98px) {
  .about-me-text {
    padding: 30px 100px;
  }
}
/* Small devices */
@media only screen and (max-width: 767.98px) {
  .navbar {
    padding: 0 50px;
  }
  .hamburger-menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .nav-links {
    display: none;
  }
  .mobile-navbar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 70px;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
  .mobile-nav-links {
    font-size: 40px;
    color: black;
    text-decoration: none;
    margin: 15px 0;
    border-bottom: 1px solid black;
  }
  .home-content {
    padding: 20px 50px 0 50px;
  }
  .about-me-text {
    padding: 30px 50px;
  }
  .project-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .project-content-container-invert {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */